<entries>
<% entries.forEach(function(entry){ %>
  <entry>
    <title><%= entry.title %></title>
    <body><%= entry.body %></body>
    <username><%= entry.username %></username>
  </entry>
<% }) %>
</entries>
