extends layout
baseUrl = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/"
block title
  title Messages
style
  link(rel="stylesheet", href= baseUrl+"themes/flick/jquery-ui.css")
scripts
  script(src= baseUrl+"jquery-ui.js")
block content
  - count = 0
  each message in messages
    - count = count + 1
    script.
      $(() => {
        $("#message_#{count}").dialog({
          height: 140,
          modal: true
        });
      });
    != '<div id="message_' + count + '">' + message + '</div>'

