body {
  padding: 50px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

.photo {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px #ddd;
}

.photo h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 200;
}

.photo img { height: 100px; }
